<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:label="Ghost Keyboard"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar">

        <service
            android:name=".GhostKeyboard"
            android:exported="true"
            android:label="Ghost Keyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="Ghost Keyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
